{
  "extends": [
    "plugin:vue/recommended"
  ],
  "env": {
    "browser": true,
    "node": true,
    "commonjs": true,
    "amd": true,
    "es6": true,
    "mocha": true
  },
  "parserOptions": {
    "parser": "babel-eslint",
    "ecmaVersion": 7,
    "sourceType": "module",
    "ecmaFeatures": {
      "globalReturn": true,
      "impliedStrict": true,
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "rules": {
    "eqeqeq": "warn",
    "no-undef-init": "error",
    "camelcase": "error",
    "no-mixed-spaces-and-tabs": "error",
    "quotes": [
      "error",
      "double",
      {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }
    ],
    "object-curly-spacing": [
      "warn",
      "always"
    ],
    "block-spacing": "warn",
    "semi": [
      "error",
      "always"
    ],
    "keyword-spacing": [
      2,
      {
        "before": true,
        "after": true
      }
    ],
    "space-before-blocks": "warn",
    "comma-dangle": [
      "error",
      {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "ignore"
      }
    ],
    "indent": [
      "warn",
      2,
      {
        "SwitchCase": 1,
        "VariableDeclarator": {
          "var": 1,
          "let": 1,
          "const": 1
        }
      }
    ],
    "space-before-function-paren": [
      "error",
      {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "ignore"
      }
    ],
    "no-unused-vars": [
      "warn",
      {
        "vars": "all",
        "args": "after-used"
      }
    ],
    "no-console": [
      "error",
      {
        "allow": [
          "info",
          "error",
          "warn"
        ]
      }
    ],
    "no-extra-semi": [
      "error"
    ],
    "arrow-spacing": [
      "warn"
    ],
    "arrow-parens": [
      "warn",
      "as-needed"
    ],
    "vue/no-unused-vars": [
      "error"
    ],
    "vue/jsx-uses-vars": [
      "error"
    ]
  }
}