{
    "parser": "babel-eslint",
    "plugins": [
      "react",
      "eslint-plugin-react",
      "eslint-plugin-promise",
      "eslint-plugin-standard"
    ],
    // 环境定义了预定义的全局变量。
    "env": {
      //环境定义了预定义的全局变量。更多在官网查看
      "browser": true,
      "node": true,
      "commonjs": true,
      "amd": true,
      "es6": true,
      "mocha": true
    },
    // JavaScript 语言选项
    "parserOptions": {
      // ECMAScript 版本
      "ecmaVersion": 7,
      "sourceType": "module",
      //module
      // 想使用的额外的语言特性:
      "ecmaFeatures": {
        // 允许在全局作用域下使用 return 语句
        "globalReturn": true,
        // impliedStric
        "impliedStrict": true,
        "jsx": true,  
        //启用restspread
        "experimentalObjectRestSpread": true
      }
    },
  
    "rules": {
      "eqeqeq": "warn",
      "no-undef-init": "error",
      "camelcase": "error",
      "no-mixed-spaces-and-tabs": "error",
      "quotes": ["error", "single", {
        "avoidEscape": true,
        "allowTemplateLiterals": true
      }],
      "object-curly-spacing": ["warn", "always"],
      "block-spacing": "warn",
      "semi": ["error", "always"],
      "keyword-spacing": [2, {
        "before": true,
        "after": true
      }],
      "space-before-blocks": "warn",
      "comma-dangle": ["error", {
        "arrays": "never",
        "objects": "never",
        "imports": "never",
        "exports": "never",
        "functions": "ignore"
      }],
      "indent": ["warn", 4, {
        "SwitchCase": 1,
        "VariableDeclarator": {
          "var": 1,
          "let": 1,
          "const": 1
        }
      }],
      "space-before-function-paren": ["error", {
        "anonymous": "always",
        "named": "never",
        "asyncArrow": "ignore"
      }],
      "no-unused-vars": ["warn", {
        "vars": "all",
        "args": "after-used"
      }],
      "no-console": ["error", {
        "allow": ["info", "error", "warn"]
      }],
      "no-extra-semi": ["error"],
      "arrow-spacing": ["warn"],
      "arrow-parens": ["warn","as-needed"],
      "react/jsx-uses-react": [ "error" ],
      "react/jsx-uses-vars": [ "error" ],
      "react/react-in-jsx-scope": [ "error" ]
    }
  }